<% include ./partials/header %>

<div class="container">
	<div class="row">
		<div class="col-lg-12 col-centered">
			<h1 style="text-align: center"><%= title %></h1>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-10 col-centered">
			<p class="lead"> Welcome to the Movie Manager where you can store, view and search for movies by Title, Genre, Year, Actors and Rating.</p>
			<br>
			<ul>
				<li class="lead"> The Movies link will display all of your movies.  </li>
				<li class="lead"> New movies can be added through the Add link.  </li>
				<li class="lead"> Click on the Search link to find one or more movies by their information. </li>
			<ul>
		</div>
	</div>
</div>

<% include ./partials/footer %>