<% include ../partials/header %>

<div class="container">
	<div class="row">
		<div class="col-lg-12 col-centered">
			<h1 style="text-align: center"><%= title %></h1>
		</div>
	</div>
</div>

<% include ../partials/movieForm %>

<% include ../partials/footer %>